@page "/search"

@using TastyEatsBD.Core.Entities;
@using TastyEatsBD.Core.Constants;
@using TastyEatsBD.Core.Interfaces;
@using TastyEatsBD.Core.DTOs;
@using TastyEatsBD.WebApp.Components.Customer.Shared;
@using Microsoft.AspNetCore.Authorization;

@rendermode InteractiveServer
@attribute [StreamRendering]
@attribute [Authorize(Roles = $"{ApplicationRoles.Customer}")]

@inject IRestaurantDiscoveryService RestaurantDiscoveryService
@inject NavigationManager NavigationManager

<FluentStack Orientation="Orientation.Vertical">
    <FluentSearch Placeholder="Search food & restaurants"
                  ValueChanged=@SearchByNameAsync
                  Value="@SearchText"
                  Style="margin-bottom:20px;" />

    <FluentGrid Style="height:calc(80dvh - 30px); overflow-y:scroll;">

        @if (Restaurants == null)
        {
            <FluentGridItem>
                <CustomLoader />
            </FluentGridItem>
        }
        else if (Restaurants.Any())
        {
            @foreach (var restaurant in Restaurants)
            {
                <FluentGridItem>
                    <FluentCard Style="padding:0px;cursor:pointer" Width="360px;" Height="330px" @onclick="@(e => LoadResturantMenuAsync(restaurant))">
                        <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                            <div style="height:150px; overflow:hidden">
                                <ImageLoader PhotoURL="@restaurant.Account.ProfileImageURL" Style="width:100%;" />
                            </div>
                            <FluentStack Orientation="Orientation.Vertical" Style="padding:15px;">
                                <FluentGrid Justify="JustifyContent.SpaceBetween">
                                    <FluentGridItem>
                                        <FluentLabel Typo="Typography.H4">@restaurant.Restaurant.RestaurantName</FluentLabel>
                                    </FluentGridItem>
                                    <FluentGridItem>
                                        <FluentLabel Weight="FontWeight.Bold" Typo="Typography.Subject">
                                            @restaurant.Account.Rating <FluentIcon Value="@(new Icons.Filled.Size20.Star())" />
                                        </FluentLabel>
                                    </FluentGridItem>
                                </FluentGrid>
                                <FluentSpacer />
                                <RestaurantItem Item="@FindItem(restaurant.Items)" />
                            </FluentStack>
                        </FluentStack>
                    </FluentCard>
                </FluentGridItem>
            }
        }
        else
        {
            <FluentGridItem>
                <FluentLabel>No available restaurants found. Please try again.</FluentLabel>
            </FluentGridItem>
        }
    </FluentGrid>

</FluentStack>

@code {
    [SupplyParameterFromQuery]
    public string? SearchText { get; set; }

    private string _searchText = string.Empty;
    private List<RestaurantInfo> Restaurants;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SearchByNameAsync(SearchText);
        }
    }

    private async Task LoadResturantMenuAsync(RestaurantInfo restaurantInfo)
    {
        NavigationManager.NavigateTo($"/Restaurant/{restaurantInfo.Restaurant.Id}");
    }

    private async Task SearchByNameAsync(string searchText)
    {
        _searchText = searchText ?? string.Empty;
        NavigationManager.NavigateTo($"/search?SearchText={Uri.EscapeDataString(_searchText)}", false);
        Restaurants = await RestaurantDiscoveryService.SearchItemsAndResturantsAsync(_searchText.Trim(), 15);
        StateHasChanged();
    }

    private Item FindItem(List<Item> items)
    {
        var item = items.FirstOrDefault(i => i.Name.Contains(_searchText));
        return item ?? items.FirstOrDefault();
    }
}
